@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFF;
  --black: #000;
  --body-background: #1F1934;
  --main-background: #393A47;
}

html,
body {
  color: var(--white);
  background: var(--body-background);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  background: var(--main-background);
  height: 100vh;
  height: 100dvh;
}

@media (min-width: 992px) {
  img {
    max-width: 85%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}